@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body{
  background-image: linear-gradient(to left bottom, #5e17eb, #880fec, #a908ec, #c709ec, #e112eb);
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stopwatch{
  width: 600px;
  height: 400px;
  background-color: #fff;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: #000 0px 0px 15px 0px;
}

h1 {
  font-size: 50px;
  color: #000;
  text-align: center;
}

.digit {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: #000;
}

.txt {
  font-size: 20px;
  color: #5e17eb;
}

#buttons {
  margin-top: 50px;
}

.btn {
  width: 100px;
  padding: 10px 15px;
  margin: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  color: white;
  font-weight: 500;
}

#start {
  background-color: #009779;
}

#stop {
  background-color: #0e85fc;
}

#reset {
  background-color: #c91400;
}